- var scripts  = []
- var examples = []

- examples.push('constants')
- examples.push('example.module')
- examples.push('example-templates')
- examples.push('routes')
- examples.push('phase-row.example')
- examples.push('phase-list.example')
- examples.push('manage-phases.example')

- var bowers   = []

- scripts.push('manage-phases.module')
- scripts.push('templates')
- scripts.push('phase-row.directive')
- scripts.push('phase-list.directive')
- scripts.push('manage-phases.directive')
- scripts.push('controllers/phase-row.controller')
- scripts.push('controllers/manage-phases.controller')

- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('angular-scroll/angular-scroll')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
