@import "work/work-includes";

phase-list {
  display: block;

  > ul {
    > li {
      margin-top: 20px;

      &:first-child {
        margin-bottom: 30px;

        label {
          font-size: 16px;
        }
      }

      li.name {
        width: 162px;
      }

      li.date {
        margin-left: 15px;
        width: 166px;
      }

      li.type {
        margin-left: 15px;
        width: 92px;
      }

      li.status {
        margin-left: 15px;
        width: 92px;
      }
    }
  }
}