@import "work/work-includes";

phase-row, new-phase-row {
  display: block;

  .name {
    width: 162px;
  }

  dropdown, date-input {
    margin-left: 15px;
  }

  dropdown {
    width: 162px;
  }

  form > button.clean {
    margin-left: 15px;

    .icon {
      width : 25px;
      height: 25px;
    }
  }
}