loader(ng-show="vm.loading")

form.flex.middle
  input.name(type="text" placeholder="Name Phase" value="{{phase.name}}")

  date-input(place-holder="Start Date" date="phase.startDate")

  date-input(place-holder="Due Date" date="phase.dueDate")

  date-input(place-holder="End Date" date="phase.endDate")

  select(ng-model="phase.type")
    option(value="") Phase Type

    option a

    option b

    option c

  select(ng-model="phase.status")
    option(value="") Status

    option a

    option b

    option c

  button.clean(ng-click="vm.save()")
    .icon.plus.hollow

  button.clean
    .icon.minus.hollow