ul
  li
    ul.flex
      li.name
        label Phase Name

      li.date
        label Start Date

      li.date
        label Due Date

      li.date
        label End Date

      li.type
        label Phase Type

      li.status
        label Phase Status


  li(ng-repeat="phase in phases")
    phase-row(phase="phase" remove-click="vm.removePhase(phase)")